.container {
  margin: 1em auto 0 auto;
  width: 900px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h1 {
  /* Certificate of Completion */
  text-align: center;
  font-size: 2.75em;
  color: #444;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  /* User Name */
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  color: #d96016;
  margin: 0.75em 0 0 0;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 1em;
  margin: 9px;
}

.title1 {
  padding: 0;
  margin: 0 0 1em 0;
  font-weight: bold;
  font-size: 1.75em;
  font-style: italic;
}

.title2 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}

div {
  border: 0px;
  margin: 0px;
  outline: none;
  vertical-align: top;
}

.md {
  font-size: 1.1em;
  margin: 0;
}

.sm {
  font-size: 0.9em;
  margin: 0;
}

.xs {
  font-size: 0.5em;
  margin: 0;
}

#certificate {
  position: relative;
  z-index: 2;
  width: 900px;
  height: 688px;
}

#bg-image {
  position: absolute;
  z-index: 1;
  width: 900px;
  height: 688px;
}

#inner {
  position: relative;
  left: 40px;
  top: 60px;
  width: 820px;
}

#logo {
  width: 160px;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

#logo > img {
  width: 160px;
}

#signature {
  width: 225px;
  height: 46px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -10px;
  left: 0px;
}

.info {
  margin: 0 auto 0 auto;
  width: 88%;
}

footer {
  position: absolute;
  top: 410px;
}

.footerAreas {
  width: 280px;
  height: 100px;
  display: table-cell;
  vertical-align: bottom;
}

#print_btn {
  position: absolute;
  top: 55px;
  right: 55px;
}

#close_btn {
  position: absolute;
  top: 60px;
  left: 525px;
}

.btn {
  background: #d96016;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0.75em 1em;
}

.btn:hover {
  background: #e57e3f;
}

.ceu {
  font-weight: bold;
}

/* Print styles */
@media print {
  .btn {
    display: none !important;
  }
  .header {
    display: none;
  }
}
