@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

p.banner {
  color: #fff;
  font-size: 2.15rem;
}

.header {
  background-color: #d96016;
  border-bottom: 6px solid #333;
  color: #222;
  padding: 1em;
}

.header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  margin-left: 1em;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

button {
  background-color: rgba(255,255,255,1);
  border: none;
  border-radius: 3px;
  color: #222;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em 1em;
  transition: 0.2s background-color;
}

button:hover {
  background-color: rgba(255,255,255,.85);
}